body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	margin: 0;
}

.red {
	color : rgb(217, 30, 24);
}

.grey {
	color: rgb(218, 223, 225);
}

.grey2 {
  color: rgb(52,73,94);
}

.white {
  color: rgb(255,255,255);
}

.back-red {
	background-color: rgb(217, 30, 24);
}

.back-grey {
	background-color: rgb(218, 223, 225);
}

.code-pink {
	color: rgb(247, 0, 94);
}

.code-green {
	color: rgb(150,227,9);
}

.code-yellow {
  color: rgb(224, 215, 86);
}

.code-purple {
  color: rgb(147,91,245);
}

header {
  background-color: rgb(34, 49, 63);
}

h1 {
  margin: 10px 10px 40px 10px;
}

h2 {
  color: rgb(194,56,36);
}

nav {}

ul#anchors {
	list-style: none;
	color: #ffffff;
	padding-top: 25px;
}

	ul#anchors > li {
		display: inline-block;
		padding: 0 10px;
		cursor: pointer;
	}

	ul#anchors > li > a:hover {
    text-decoration: none;
	}

section {
  display: block;
  width: 100%;
  padding: 40px;
  position: relative;
}


section#introduction {
  background-color: rgb(52,73,94);
}

  article#code-introduce {
    color: #ffffff;
    display: block;
    border-radius: 3px;
    padding: 20px;
    background-color: rgb(34,49,63);
  }

  .indent-2 {
    padding-left: 10px;
  }

  .indent-4 {
    padding-left: 20px;
  }

  article#text-introduce {
    color: rgba(255,255,255, 1);
    display: block;
    max-width: 850px;
    margin-right: 150px;
    margin-top: 80px;
    margin-left: 50px;
  }

  @media (max-width:992px)
  {
    article#text-introduce {
      margin-left: 0;
    }
  }

    article#text-introduce p {
      font-weight: 100;
      font-size: 22px;
      line-height: 1.4;
    }

section#experience {
}

section#skills {
}

section#manifest {
}

section#contact {
  background-color: rgb(52,73,94);
}

#experience-svg {
  display: none;
}

.hidden-large {
  display: none;
}

@media (min-width: 1700px)
{
  #experience-svg {
    display: block;
    margin: 0 auto;
  }
}

@media(max-width:1700px)
{
  .hidden-large {
    display: block;
  }
}

.skill-icon {
  background-image: url("img/skills-icons.png");
  width: 65px;
  height: 65px;
}

  .skill-icon#terminal {
    background-position: -125px -78px;
  }

  .skill-icon#github {
    background-position: -38px -161px;
  }

  .skill-icon#js {
    background-position: -299px -78px;
  }

  .skill-icon#ruby {
    background-position: -125px -161px;
  }

  .skill-icon#markup {
    background-position: -211px -161px;
  }

  .skill-icon#database {
    background-position: -299px -161px;
  }

.skills-row {
  color: rgba(52,73,94,1);
  margin-bottom: 20px;
}

div#programmer-rules {
  padding: 20px 10px;
  text-align: center;
}

  div#programmer-rules > ul {
    list-style-image: url("img/ruby.png");
    color: rgba(52, 73, 94, 1);
    line-height: 2;
    font-weight: 300;
    font-size: 1.2em;
    text-indent: 60px;
  }

#form-container {
  color: rgb(255,255,255);
  margin-top: 20px;
}

.input-form, .button-form {
  background: transparent;
  border: 1px solid rgb(255,255,255);
  color: rgb(255,255,255);
}

.button-form {
  color: rgb(255,255,255);
}

.button-form:hover {
  color: rgb(255,255,255);
}

.input-group-addon {
  background: transparent;
  border: 1px solid rgb(255,255,255);
}

.form-control:focus{
  border-color: rgb(30, 139, 195);
  box-shadow: 0 0px 0px rgb(194,56,36) inset, 0 0 0px rgb(194,56,36);
}

.input-group {
  margin-bottom: 5px;
}

.glyphicon {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

input.valid, textarea.valid {
  border-color: rgb(38, 194, 129);
}

input.invalid, textarea.invalid {
  border-color: rgb(194,56,36);
}

section#contact h1, section#contact p {
  color: rgb(255,255,255);
}

section#contact h1 {
  margin-bottom: 20px;
}

section#contact p {
  margin-left: 15px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
}

section#contact p > a {
  color: rgb(194,56,36);
}

section#contact p > a:hover {
  text-decoration: none;
}

#social-lines {
  margin-left: 15px;
  margin-top: 40px;
}

.social-line {
  display: inline-block;
  margin-right: 20px;
}

.social-line > span {
  color: rgb(255,255,255);
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.social-line > span > a {
  color: rgb(255,255,255);
}

.social-line > span > a:hover {
  text-decoration: none;
  color: rgb(194,56,36);
}

.social-icon {
  background-image: url("img/social-icons.png");
  width: 44px;
  height: 44px;
  display: table-cell;
}

#social-gplus {
  background-position: -134px -14px;
}

#social-linkedin {
  background-position: -71px -69px;
}

#social-twitter {
  background-position: -193px -14px;
}

#social-skype {
  background-position: -14px -14px;
}

#social-github {
  background-position: -14px -69px;
}