body {
  background-size: contain;
  background-image: url(../img/background.png);
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}

.background-filter {
  width: inherit;
  background-color: rgba(20,20,20,0.8);
}

h1 {
  font-size: 18px;
  margin-bottom: 30px;
}

p {
  font-size: 12px;
}

p, h1 {
  color: white;
}

.button {
  width: 120px;
  height: 60px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid #ffffff;
}